/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.8;
  padding: 1em;
}

h1, h2, h3 {
  font-weight: 300;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}
